@font-face {
	font-family: 'BKoodakBold';
	src: url('BKoodakBold.eot?#') format('eot'), /* IE6–8 */ 
        url('BKoodakBold.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
        url('BKoodakBold.ttf') format('truetype');
	/* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body {
	background-image: url(../images/bg_body.png);
	font-family: tahoma;
	font-size: 11px;
}

.border {
	border: 1px dotted red;
}

.right {
	float: right
}

.center {
	margin: 0 auto;
}

.left {
	float: left
}

.clear {
	clear: both
}

.spacer {
	height: 65px;
}

.pointer {
	cursor: pointer
}

.wrapper {
	width: 1030px;
	margin: 0 auto;
	direction: rtl;
}

.koodakbd {
	font-family: BKoodakBold;
	font-size: 16px;
}

/*------------------ a ------------------*/
a {
	cursor: pointer;
	text-decoration: none;
	color: #ff0000;
}

/*------------------ header ------------------*/
.header {
	background: url(../images/bg_header.gif) repeat-x 0 0;
	width: 100%;
	height: 170px;
}

.header .wrapper {
	height: 120px;
	background: url(../images/bg_header_wrapper.png) no-repeat 0 20px;
}

/*------------------ header small-menu ------------------*/
.header .small-menu {
	width: 316px;
	height: 10px;
	background: url(../images/bg_small_menu.png) no-repeat 0 0;
	float: right;
	padding: 18px 8px 0;
}

.header .wrapper .small-menu ul li.menu-item {
	float: right;
}

.header .wrapper .small-menu ul li.menu-item a {
	display: block;
	height: 32px;
	width: 32px;
	background: no-repeat right 0;
}

.header .wrapper .small-menu ul li.menu-item a.button-logout {
	background: url(../images/bg_button_logout.png) no-repeat 0 -32px;
}

.header .wrapper .small-menu ul li.menu-item a.button-logout:hover {
	background-position: right 0;
}

.header .wrapper .small-menu ul li.menu-item a.button-messages {
	background: url(../images/bg_button_messages.png) no-repeat 0 -32px;
}

.header .wrapper .small-menu ul li.menu-item a.button-sitemap {
	background: url(../images/bg_button_sitemap.png) no-repeat 0 -32px;
}

.header .wrapper .small-menu ul li.menu-item a.button-settings {
	background: url(../images/bg_button_settings.png) no-repeat 0 -32px;
}

.header .wrapper .small-menu ul li.menu-item a.button-menus {
	background: url(../images/bg_button_menus.png) no-repeat 0 -32px;
}

.header .wrapper .small-menu ul li.menu-item a.button-help {
	background: url(../images/bg_button_help.png) no-repeat 0 -32px;
}

.header .wrapper .small-menu ul li.menu-item a.button-dashbord {
	background: url(../images/bg_button_dashbord.png) no-repeat 0 -32px;
}

.header .wrapper .small-menu ul li.menu-item a.button-site {
	background: url(../images/bg_button_site.png) no-repeat 0 -32px;
}

.header .wrapper .small-menu ul li.menu-item a:hover {
	background-position: 0 0;
}

.header .wrapper .small-menu ul li.menu-item a .hoverable {
	display: none;
	color: #FFFFFF;
	text-align: center;
}

.header .wrapper .small-menu ul li.menu-item a:hover .hoverable {
	display: block;
	padding-top: 30px
}

.header .wrapper .small-menu ul li.menu-item.splitter {
	color: #FFFFFF;
	padding: 8px 4px 0;
}

.header .wrapper .information {
	color: #FFFFFF;
	height: 22px;
	padding: 8px 10px 0 0
}

/*------------------ header menu ------------------*/
.header .menu {
	height: 25px;
	width: 1030px;
	padding: 0px;
	margin: 15px 0 0 0;
}

.header .menu ul li {
	float: right;
	list-style: none;
}

.header .menu ul li .item {
	height: 30px;
	text-align: center;
}

.header .menu ul li a {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 0 0 0;
	display: block;
}

/*------------------ Menu ------------------*/
.menu li a {
	text-align: center;
	margin-right: 2px;
}

.menu li ul a {
	border: 1px solid black;
}

#menu_act {
	background: black;
	border-radius: 4px;
}

.menu li ul a:hover {
	border-radius: 4px;
	border: 1px solid white;
}

a.menu1 {
	min-width: 100px;
}

a:hover.menu1 {
	background: black;
	border-radius: 4px;
}

ul#topnav li:hover a.menu1,ul#topnav li a:hover.menu1 {
	background: black;
	border-radius: 4px;
}

.topMenu {
	height: 25px;
}

.topMenu a {
	color: #FFF;
}

.linkMenu {
	
}

.linkMenu a {
	overflow: hidden;
	height: 25px;
}

ul#topnav {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
}

ul#topnav li {
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
	z-index: 80;
}

ul#topnav li .sub {
	position: absolute;
	top: 26px;
	padding: 20px 20px 20px;
	display: none;
	z-index: 9999;
	right: 0;
	border-radius: 4px;
	background-color: #000000;
}

ul#topnav li .row {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

ul#topnav li .sub a {
	line-height: 1;
	font-size: 11px;
}

ul#topnav li .sub ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	width: 140px;
	text-align: right;
}

ul#topnav .sub ul li {
	width: 100%;
	color: #fff;
}

ul#topnav .sub ul li h2 {
	padding: 4px 7px 4px 0;
	margin: 0 0 0 10px;
	font-size: 12px;
	border-bottom: 1px solid #03758f;
}

ul#topnav .sub ul li h2 a {
	padding: 5px 0;
	background-image: none;
	color: #e8e000;
}

ul#topnav .sub ul li a {
	float: none;
	height: auto;
	padding: 7px 18px 7px 7px;
	display: block;
	text-decoration: none;
	color: #e6faff;
}

ul#topnav .sub ul li a:hover {
	color: #FFF;
}

.topMenu ul {
	display: inline;
}

.topMenu li {
	list-style: inside;
	display: inline;
}

/*------------------ footer ------------------*/
.footer {
	background: #999999 url(../images/bg_footer.png) repeat-x 0 0;
	width: 100%;
	height: 94px;
}

.footer .menufooter {
	height: 40px;
	margin-top: 5px;
}

.footer .menufooter ul {
	float: right;
	margin: 0px 0;
}

.footer .menufooter ul li {
	float: right;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
}

.footer .menufooter ul li a {
	display: block;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
	color: #FFFFFF;
	min-width: 60px;
}

.footer .menufooter ul li a:hover {
	background-color: #202020;
}

#act {
	background-color: #202020;
	border-radius: 4px;
}

.footer .menufooter .logo {
	float: left;
	margin-top: 10px;
}

.footer .copyright {
	
}

.footer .copyright .text {
	float: right;
	margin-top: 5px;
	font-family: arial;
	font-weight: bold;
}

.footer .copyright .text .gcms {
	background-color: #ff0000;
	padding: 3px 5px;
	color: #FFFFFF;
	display: inline-block;
	border-radius: 4px;
}

.footer .copyright .logo-desc {
	float: left;
	margin-top: 5px;
}

/*------------------ middle ------------------*/
.middle .wrapper {
	min-height: 345px;
}

.middle .wrapper .rside {
	float: right;
	width: 250px;
}

.middle .wrapper .lside {
	float: left;
	width: 770px;
}

.middle .box,.rside .box,.lside .box {
	margin: 5px 0 5px 0;
}

.box .top {
	height: 34px;
	background: #919191 -moz-linear-gradient(top, #919191, #666666);
	color: white;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #b7b7b7;
	border-bottom: 1px solid #666666;
}

.box .success {
	background: #6ea100 -moz-linear-gradient(top, #6ea100, #97ca00);
}

.box .error {
	background: #a70000 -moz-linear-gradient(top, #a70000, #f90000);
}

.box .alarm {
	background: #ff9400 -moz-linear-gradient(top, #ff9400, #ffad00);
}

.box .top .title {
	padding: 10px 30px 10px 0;
	font-size: 12px;
}

.box .mid {
	background: #f4f4f4;
	color: #333333;
	border-radius: 0px 0px 7px 7px;
	border: 1px solid #999999;
}

.box .mid .txt {
	padding: 10px;
	line-height: 22px;
}

.paging {
	font-size: 12px;
}

.paging a {
	color: #333333;
}

.paging a:hover {
	color: #ff0000;
}

.paging span {
	padding: 5px;
	border-left: 1px solid #d7d7d7;
}

.actpagin {
	color: #ff0000;
	border-bottom: 1px solid #ff0000;
}

.rtl {
	direction: rtl;
	text-align: left;
}

/*------------------ grid ------------------*/
input[type=submit] {
	font-family: "b koodak";
	background: url(../images/submt.png) no-repeat bottom;
	color: white;
	width: 209px;
	height: 46px;
	border: 0px;
	font-size: 18px;
}

input[type=submit]:hover {
	background: url(../images/submt.png) no-repeat top;
	cursor: pointer;
}

input[type=button] {
	font-family: "b koodak";
	background: red no-repeat bottom;
	color: white;
	border-radius: 7px 7px 7px 7px;
	border: 1px solid #999999;
	font-size: 18px;
}

.list {
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: white;
	color: #333333;
	padding: 5px;
	margin: 5px 0 5px 0;
}

.list:hover {
	background: #cccccc;
}

#stylized {
	border: solid 0px #4c4c4c;
}

#stylized h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#stylized p {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #4c4c4c;
	padding-bottom: 10px;
}

#stylized label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 160px;
	float: right;
}

#stylized .small {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

#stylized input[type=password],#stylized input[type=text] {
	width: 250px;
	height: 25px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
	margin: 5px;
}

#stylized select {
	float: right;
	font-size: 12px;
	padding: 5px;
	width: 250px;
	margin: 2px 5px 20px 10px;
	font-family: tahoma;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

#stylized input[type=submit] {
	font-family: "b koodak";
	background: url(../images/submt.png) no-repeat bottom;
	color: white;
	width: 209px;
	height: 46px;
	border: 0px;
	font-size: 18px;
}

#stylized input[type=submit]:hover {
	background: url(../images/submt.png) no-repeat top;
	cursor: pointer;
}

textarea {
	width: 725px;
	height: 100px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
	margin: 5px;
}

/*------------------ icon ------------------*/
.icon_info {
	background: url(../images/icon/info.png) no-repeat left;
	margin-left: 10px;
	margin-top: 3px;
}

.icon_edit {
	background: url(../images/icon/edit.png) no-repeat left;
	margin-left: 10px;
	margin-top: 3px;
}

.icon_parent {
	background: url(../images/icon/parent.png) no-repeat left;
	margin-left: 10px;
	margin-top: 3px;
}

.icon_lang {
	background: url(../images/icon/lang.png) no-repeat left;
	margin-left: 10px;
	margin-top: 3px;
}

.icon_comment {
	background: url(../images/icon/comment.png) no-repeat left;
	margin-left: 10px;
	margin-top: 3px;
}

.icon_img {
	background: url(../images/icon/img.png) no-repeat left;
	margin-left: 10px;
	margin-top: 3px;
}

.icon_keyword {
	background: url(../images/icon/keyword.png) no-repeat left;
	margin-left: 10px;
	margin-top: 3px;
}

/* ------------------------------ Dashbourd --------------------*/
.static_date {
	width: 270px;
}

.static_key {
	width: 170px;
}

.static_pageTitle {
	width: 170px;
}

._200px {
	width: 200px;
	margin: 5px;
}

._210px {
	width: 210px;
	margin: 5px;
}

._300px {
	width: 300px;
	margin: 5px;
}

/* key_pag */
.dash_tab-nav,.dash_tab-nav dt,.dash_tab-nav dd,.dash_tab-nav ul,.dash_tab-nav li
	{
	margin: 0;
	padding: 0
}

.dash_tab-nav {
	float: left;
	width: 170px;
	font-size: 1.3em;
}

.dash_tab-nav dt,.dash_tab-nav h4 {
	margin: 0;
	padding: 0;
	font: normal 1.1em "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	color: #e87b10;
}

.dash_tab-nav dt,.dash_tab-nav h4 {
	margin-top: 1.5em;
	margin-bottom: 0;
	padding-left: 8px;
	padding-bottom: 5px;
	line-height: 1.2em;
	border-bottom: 1px solid #F4F4F4;
}

.dash_tab-nav dd a,.dash_tab-nav li a {
	border-bottom: 1px solid #F4F4F4;
	display: block;
	padding: 4px 3px 4px 8px;
	font-size: 90%;
	text-decoration: none;
	color: #555;
	margin: 2px 0;
	height: 13px;
}

.dash_tab-nav dd a:hover,.dash_tab-nav dd a:focus,.dash_tab-nav dd a:hover,.dash_tab-nav dd a:focus
	{
	background: #f3f3f3;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.dash_tab-nav dd a.selected {
	background: #555;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* ------------------------------ USER --------------------*/
.list .name {
	float: right;
	margin: 0 5px 0 5px;
	width: 95px;
}

.list .action {
	float: right;
	margin: 0 5px 0 5px;
}

.form_add_user {
	margin: 0 auto;
	width: 450px;
	padding: 14px;
}

/* ------------------------------ PAGE --------------------*/
.nextlevel {
	background: url(../images/page/nextlevel.jpg) no-repeat;
	width: 215px;
	height: 45px;
	text-align: right;
}

.nextlevel .txt {
	padding: 10px 40px 0 0;
	margin-right: 20px;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.sel_par {
	width: 205px;
	border: 1px solid #999999;
	padding: 10px;
	background: #cccccc;
	border-radius: 5px;
	text-align: center;
}

.select_parent {
	border: 1px #999999 solid;
	font-family: tahoma;
	font-size: 12px;
	padding: 3px;
	width: 210px;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	direction: rtl;
	text-align: right;
	line-height: 22px;
}

.sel_par:hover {
	background: #6a6a6a;
}

.input_title {
	width: 730px;
	height: 18px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
}

.input_keyword {
	width: 180px;
	height: 13px;
	padding: 5px 5px 4px 5px;
	font-family: tahoma;
	border: 1px solid #CCCCCC;
	direction: ltr;
	text-align: right;
	font-size: 9px;
}

.showList {
	width: 210px;
	padding: 10px;
	background-color: #FFFFFF;
	text-align: right;
	direction: rtl;
	display: none;
	border: 1px dashed black;
	border-radius: 5px;
}

.showList .listRows {
	height: 25px;
	padding: 2px 10px 2px 0;
	display: block;
	overflow: hidden;
	line-height: 30px;
}

.showList .listRows:hover {
	background-color: #dcdcdc;
	cursor: pointer
}

.add_keyword {
	margin: 0px 0 0 8px;
	float: left;
}

.del_img {
	color: red;
	float: right;
	cursor: pointer;
}

.list .pic_thumb {
	float: right;
	margin: 0 5px 0 5px;
	width: 115px;
}

.list .pic_thumb img {
	border-radius: 5px;
	border: 1px solid #999999
}

.list .title {
	float: right;
	margin: 0 5px 0 5px;
	width: 210px;
	overflow: hidden;
}

.list .title .t_m a {
	font-family: "BKoodakBold";
	font-size: 20px;
}

.list .comment_status {
	float: right;
	margin: 0 5px 0 5px;
}

.list .pg_status {
	float: right;
	margin: 0 5px 0 5px;
}

.list .action {
	float: right;
	margin: 0 5px 0 5px;
}

.commentStatusclose,.commentStatusopen {
	padding: 20px;
	margin: 10px;
}

/* ------------------------------ FIILE --------------------*/
.file,.folder {
	float: right;
	width: 128px;
	margin: 5px 10px 0 8px;
	border: 1px dotted gray;
}

.folder .path {
	width: 128px;
	height: 128px;
	background: url(../images/file/folder.png) no-repeat top;
}

.folder .path:hover {
	background: url(../images/file/folder.png) no-repeat bottom;
}

.file .name,.folder .name {
	margin: 0px auto;
	text-align: center;
	width: 128px;
	overflow: hidden;
	height: 20px;
	background: gray;
	color: white;
	font-size: 11px;
}

.file .del,.folder .del {
	margin: 0px;
	text-align: right;
	width: 12px;
	overflow: hidden;
	height: 20px;
	float: right;
}

.file .del:hover,.folder .del:hover {
	font-weight: bold;
	font-size: 20px;
}

.file .fs {
	margin: 0px 0 0 5px;
	text-align: right;
	height: 20px;
	float: left;
}

.file .path {
	width: 128px;
	height: 100px;
	background: url(../images/file/file.png) no-repeat top;
}

.file .copy {
	width: 128px;
	height: 28px;
}

.file .input_copy {
	width: 128px;
	height: 28px;
	font-size: 9px;
	background: yellow;
	text-align: left;
	border: 0px
}

.file .name {
	font-size: 9px;
}

.path_nav {
	float: left;
	text-align: left;
	direction: ltr;
	font-size: 18px;
	margin: 10px;
	width: 710px;
	padding: 5px;
	border: 1px dashed gray;
}

/* ------------------------------ COMMENT --------------------*/
.list .cm_author {
	float: right;
	margin: 0 5px 0 5px;
	width: 115px;
}

.list .cm_date {
	float: right;
	margin: 0 5px 0 5px;
	width: 100px;
}

.list .cm_status {
	float: right;
	margin: 0 5px 0 5px;
	width: 100px;
}

.list .id_other {
	float: right;
	margin: 0 5px 0 5px;
	width: 115px;
}

.list .action {
	float: right;
	margin: 0 5px 0 5px;
}

.input_edit {
	width: 215px;
	height: 18px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
}

/* ------------------------------ SETTING --------------------*/
.form_setting {
	margin: 0 auto;
	width: 450px;
	padding: 14px;
}

/* ------------------------------ SMS --------------------*/
.allcontactlist {
	width: 700px;
	height: 200px;
	overflow: auto;
	padding: 14px;
	border: 1px dotted gray;
}

.smsgroup {
	padding: 10px;
	margin: 10px;
	width: 200px;
	height: 200px;
	overflow: auto;
	background: #CCCCCC
}

/* ------------------------------ page_index --------------------*/
.pg_title {
	width: 730px;
	height: 30px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
}

/* ------------------------------ BOX --------------------*/
.class_name {
	width: 200px;
	height: 30px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
}

.box_title {
	width: 730px;
	height: 30px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
}

.box_statuspublish {
	padding-right: 10px;
}

.box_statuspending {
	padding-right: 60px;
}

/* ------------------------------ USER --------------------*/
.statusactive,.statuspending {
	width: 100px !important;
	overflow: hidden;
	padding: 10px;
}

.username {
	width: 150px;
}

.email {
	width: 150px;
}

.status {
	width: 50px;
}

.user_level {
	width: 50px;
}

/* -----------------  side menu  ------------------------- */
.side_menu {
	background: url(../images/side_menu.png) no-repeat bottom;
	width: 235px;
	height: 46px;
	margin: 3px -5px 2px 0;
}

.side_menu:hover {
	background: url(../images/side_menu.png) no-repeat top;
	color: white;
}

.side_menu:hover .txt {
	color: white;
}

.side_menu .txt {
	font-family: "b koodak";
	font-size: 16px;
	margin: 5px 15px 0 0;
	float: right;
	height: 10px;
	width: 145px;
	overflow: hidden;
	color: #333333;
}

.side_menu .icon {
	float: left;
	width: 32px;
	height: 32px;
	margin: 7px 0 0 5px;
}

.new_op {
	background: url(../images/icon/new_op.png) no-repeat;
	width: 32px;
	height: 32px;
}

.ch_pas {
	background: url(../images/icon/ch_pas.png) no-repeat;
	width: 32px;
	height: 32px;
}

.nw_pg {
	background: url(../images/icon/nw_pg.png) no-repeat;
	width: 32px;
	height: 32px;
}

.cmn_lst {
	background: url(../images/icon/cmn_lst.png) no-repeat;
	width: 32px;
	height: 32px;
}

.fl_mn {
	background: url(../images/icon/fl_mn.png) no-repeat;
	width: 32px;
	height: 32px;
}

.st_wk {
	background: url(../images/icon/st_wk.png) no-repeat;
	width: 32px;
	height: 32px;
}

.st_vs {
	background: url(../images/icon/st_vs.png) no-repeat;
	width: 32px;
	height: 32px;
}

.st_ky {
	background: url(../images/icon/st_ky.png) no-repeat;
	width: 32px;
	height: 32px;
}

.st_ct {
	background: url(../images/icon/st_ct.png) no-repeat;
	width: 32px;
	height: 32px;
}

.st_cn {
	background: url(../images/icon/st_cn.png) no-repeat;
	width: 32px;
	height: 32px;
}

.st_br {
	background: url(../images/icon/st_br.png) no-repeat;
	width: 32px;
	height: 32px;
}

.sg_so {
	background: url(../images/icon/sg_so.png) no-repeat;
	width: 32px;
	height: 32px;
}

.sg_gn {
	background: url(../images/icon/sg_gn.png) no-repeat;
	width: 32px;
	height: 32px;
}

.op_ls {
	background: url(../images/icon/op_ls.png) no-repeat;
	width: 32px;
	height: 32px;
}

.op_cp {
	background: url(../images/icon/op_cp.png) no-repeat;
	width: 32px;
	height: 32px;
}

.op_ed {
	background: url(../images/icon/op_ed.png) no-repeat;
	width: 32px;
	height: 32px;
}

.sg_st {
	background: url(../images/icon/sg_st.png) no-repeat;
	width: 32px;
	height: 32px;
}

.sg_pg {
	background: url(../images/icon/sg_pg.png) no-repeat;
	width: 32px;
	height: 32px;
}

.sg_cm {
	background: url(../images/icon/sg_cm.png) no-repeat;
	width: 32px;
	height: 32px;
}

.pg_fa {
	background: url(../images/icon/pg_fa.png) no-repeat;
	width: 32px;
	height: 32px;
}

.pg_en {
	background: url(../images/icon/pg_en.png) no-repeat;
	width: 32px;
	height: 32px;
}

.pg_rm {
	background: url(../images/icon/pg_rm.png) no-repeat;
	width: 32px;
	height: 32px;
}

.pg_pn {
	background: url(../images/icon/pg_pn.png) no-repeat;
	width: 32px;
	height: 32px;
}

.pg_ps {
	background: url(../images/icon/pg_ps.png) no-repeat;
	width: 32px;
	height: 32px;
}

.pg_sv {
	background: url(../images/icon/pg_sv.png) no-repeat;
	width: 32px;
	height: 32px;
}

.pg_bx {
	background: url(../images/icon/pg_bx.png) no-repeat;
	width: 32px;
	height: 32px;
}

.pg_xa {
	background: url(../images/icon/pg_xa.png) no-repeat;
	width: 32px;
	height: 32px;
}

.nw_hm {
	background: url(../images/icon/nw_hm.png) no-repeat;
	width: 32px;
	height: 32px;
}

.ns_nw {
	background: url(../images/icon/ns_nw.png) no-repeat;
	width: 32px;
	height: 32px;
}

.ns_ng {
	background: url(../images/icon/ns_ng.png) no-repeat;
	width: 32px;
	height: 32px;
}

/*------------------ slideshow ------------------*/
.slideshow {
	height: 242px;
	width: 746px;
}

.slideshow img {
	
}

/* -----------------  I Dont Know  ------------------------- */
#dhtmltooltip {
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	filter: progid : DXImageTransform.Microsoft.Shadow ( color = gray,
		direction = 135 );
	padding: 10px;
	direction: rtl;
	text-align: right;
	border-radius: 5px;
}

#dhtmlpointer {
	position: absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}

.selectform {
	width: 235px;
	height: 30px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
}

.textarea_summary {
	font-family: tahoma;
	font-size: 10px;
	width: 740px;
	height: 50px;
}

.show_keyw {
	background: #8C8C8C;
	margin: 5px;
	float: right;
	padding: 3px;
	border: 1px solid red;
	border-radius: 5px;
}

.pg_statuspending {
	width: 240px;
	height: 30px;
	display: block;
	cursor: pointer;
}

.pg_statuspublish {
	width: 240px;
	height: 30px;
	display: block;
	cursor: pointer;
}

.pg_statusdelete {
	width: 240px;
	height: 30px;
	display: block;
	cursor: pointer;
}

.shakhes_brows {
	background: url(../images/icon/icon_computer.png) no-repeat 20px 15px
		#646464;
	border: 1px solid #cccccc;
	width: 700px;
	height: 85px;
	border-radius: 5px;
	margin: 5px auto;
}

.shakhes_brows .txt {
	padding: 10px;
	color: white;
}

.arrow {
	padding: 0px 0 0 5px;
}

.show_pics {
	background: #646464;
	border: 1px solid #cccccc;
	width: 700px;
	border-radius: 5px;
	margin: 0 auto
}

.show_pics .txt {
	padding: 10px;
	color: white;
}

.sh_thmb {
	border: 1px solid #ebebeb;
	border-radius: 5px;
	background: #ebebeb;
	padding: 5px;
	float: right;
	color: #333333;
	text-align: left;
	margin-right: 5px;
	margin-top: 5px;
}

.sh_thmb:hover {
	background: gray;
	border: 1px solid gray;
}

.sh_thmb_img {
	border: 1px solid #ababab;
	border-radius: 5px;
}

.form {
	width: 720px;
}

.form .wrapper {
	width: 650px;
}

.form .message {
	height: 30px;
	width: 270px;
	font-family: Tahoma;
	font-size: 11px;
	color: #ad0000;
	text-align: right;
	padding: 7px 0 0 0
}

.form .form-title {
	height: 100px;
	margin-bottom: 20px;
	text-align: center;
	background: url(../images/bg_form_title.png) no-repeat 50% bottom;
}

.form .form-title .text {
	width: 270px;
	height: 45px;
	padding: 15px 0;
	font-size: 12px;
	letter-spacing: .04em;
	text-align: right;
	line-height: 170%;
}

.form .form-title .icon {
	width: 120px;
	height: 75px;
	background: no-repeat 0 0;
	float: left;
}

.form .form-title .icon.new-user {
	background-image: url(../images/icon_form_new_user.png);
}

.form .row {
	margin-bottom: 12px;
}

.form .row .star {
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: top;
	background: url(../images/icon_star.png) no-repeat 0 0;
}

.form .row .star.no {
	background: none;
}

.form .row label {
	display: inline-block;
	width: 140px;
	vertical-align: top;
	letter-spacing: .05em;
	margin-right: 5px;
}

.form .row .input {
	display: inline-block;
	vertical-align: top;
}

.form .row .input .txt {
	width: 190px;
	height: 18px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: ltr;
	text-align: right;
}

.form .row .input .txt.rtl {
	direction: rtl;
}

.form .row .input select.txt {
	height: 30px;
	width: 202px;
}

.form .row .input .txt:focus {
	border-color: #333333;
}

.form .row .submit {
	background: url(../images/bg_form_submit.png) no-repeat 0 -39px;
	cursor: pointer;
	box-shadow: 0 0 5px #ee0000;
	font-family: tahoma;
	font-weight: bold;
	width: 200px;
	height: 39px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	border-radius: 7px 20px 20px 7px;
}

.form .row .submit:hover {
	background-position: 0 0;
}

.form .row .editButton {
	background: url(../images/bg_form_edit.png) no-repeat 0 -39px;
	cursor: pointer;
	box-shadow: 0 0 5px #ee0000;
	font-family: tahoma;
	font-weight: bold;
	width: 200px;
	height: 39px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	border-radius: 7px 20px 20px 7px;
}

.form .row .editButton:hover {
	background-position: 0 0;
}

.form .row .editButton {
	background: url(../images/bg_form_edit.png) no-repeat 0 -39px;
	cursor: pointer;
	box-shadow: 0 0 5px #ee0000;
	font-family: tahoma;
	font-weight: bold;
	width: 200px;
	height: 39px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	border-radius: 7px 20px 20px 7px;
}

.form .row .editButton:hover {
	background-position: 0 0;
}

.form .row .passwordButton {
	background: url(../images/bg_form_pass.png) no-repeat 0 -39px;
	cursor: pointer;
	box-shadow: 0 0 5px #ee0000;
	font-family: tahoma;
	font-weight: bold;
	width: 200px;
	height: 39px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	border-radius: 7px 20px 20px 7px;
}

.form .row .passwordButton:hover {
	background-position: 0 0;
}

.msg-container {
	top: 0;
	width: 100%;
	direction: rtl;
}

.msg-container .error {
	padding: 10px;
	margin: 0 auto;
	background-color: #feffdb;
	border: 1px solid #f0e77f;
	border-top: none;
	border-radius: 0 0 5px 5px;
	width: 300px;
	text-align: center;
}

body.login-page {
	padding-top: 0;
}

.login {
	width: 714px;
	height: 654px;
	margin: 0 auto;
	direction: rtl;
}

.login .header {
	background: url(../images/login_header_bg.png) no-repeat 0 0;
	height: 237px;
	width: 714px
}

.login .main {
	background: url(../images/login_bottom_bg.png) no-repeat 0 0;
	height: 310px;
	width: 714px;
	text-align: center;
	padding: 70px 0 0 0
}

.login .content {
	top: 47%;
	right: 33%;
}

.login .content .remember {
	margin-right: 65px;
	margin-bottom: 10px;
}

.login .content .row {
	margin-bottom: 8px;
	text-align: center
}

.login .content .row label {
	display: inline-block;
	width: 60px;
}

.login .content .row input.txt {
	width: 190px;
	height: 18px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: ltr;
	text-align: right;
}

.login .content .row input.txt:focus {
	border-color: #333333;
}

.login .content .button {
	background: #FFFFFF repeat-x 0 -2px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: tahoma;
	font-size: 12px;
	display: block;
	width: 266px;
	height: 28px;
	padding-bottom: 4px;
	border: none;
	border-radius: 5px;
}

.login .content .button.login {
	background-image: url(../images/bg_login_button.png);
	margin-bottom: 5px;
}

.login .content .button.forget {
	background-image: url(../images/bg_forget_button.png);
	text-decoration: none;
	height: 16px;
	padding: 5px 0;
}

.login .content .button.login:hover {
	box-shadow: 0 0 3px #e80000;
	background-position: 0 -34px;
}

.login .content .button.forget:hover {
	box-shadow: 0 0 3px #1a1a1a;
	background-position: 0 -35px;
}

/* ------------------------------ bazar_1 --------------------*/
.time_start {
	width: 190px;
	height: 30px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
	font-size: 12px
}
/* ------------------------------ poll --------------------*/
.statusopen , .statusarchive , .statusdel ,
.statusclose{ width: 220px; float: right;}
.poll_answer{width: 250px;
	height: 25px;
	padding: 5px;
	font-family: tahoma;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	direction: rtl;
	text-align: right;
	margin: 5px;}
#poll_edit_answer{font-family: "b koodak";
	background: red no-repeat bottom;
	color: white;
	border-radius: 7px 7px 7px 7px;
	border: 1px solid #999999;
	font-size: 18px;}