@import url(uni-form.css);
@import url(uni-form_style.css);
@font-face {
  font-family: 'BKoodakBold';
  src: url('font/BKoodakBold.eot?#') format('eot'),  /* IE68 */
       url('font/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('font/BKoodakBold.ttf') format('truetype');  /* Saf35, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BYekan';
  src: url('font/BYekan.eot?#') format('eot'),  /* IE68 */
       url('font/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('font/BYekan.ttf') format('truetype');  /* Saf35, Chrome4+, FF3.5, Opera 10+ */
}
body {background: url(../images/body_bg.gif) repeat; font-family: tahoma; font-size: 12px;color: black;}
hr { color: #dbdbdc; }
.border{ border: 1px dotted aqua;}
.right{float: right}
.center{margin: 0 auto;}
.left{float: left}
.clear{clear:both}
.pointer{ cursor: pointer}
.wrapper { width:1041px; margin: 0 auto; direction: rtl;  }
.padimg{padding:0 5px 0px 5px}
.BKoodakBold { font-family: BKoodakBold;  font-size: 18px;}
.BYekan { font-family: BYekan;  font-size: 18px;}
._255 { width: 255px; }
._765 { width: 765px; }
.tooltip {    display:none;    background:transparent url(../images/black_arrow.png);    font-size:12px;    height:70px;    width:160px;    padding:25px;    color:#eee; text-align: right; direction: rtl; z-index:10; overflow: hidden;  }
/*------------------ FORM ------------------*/
input{ font-family: tahoma; font-size: 12px;color: black; text-align: left;}
input[type = submit]{}
label{ color: black;}
.uniForm{ width: 95%; margin: 0px auto; padding:5px;}
div.valid{  background: url(../images/icon/ok.png) 100% 2em no-repeat;}

.error_box , .alarm_box ,
.success_box {	background: #6ea100;    width: 900px;      direction: rtl;      text-align: right;      margin: 0px auto;      padding: 10px;      border-radius: 10px; cursor: pointer;}
.error_box {	background: #a70000;   }
.alarm_box {	background: #ff9400;   }

.error_box .title, .alarm_box .title,
.success_box .title { padding: 10px; background: white; border-radius: 5px; opacity: 0.5; }
.error_box .txt, .alarm_box .txt,
.success_box .txt { padding:10px 100px 0 100px;  opacity: 0.7; }

/*------------------ a ------------------*/
a { color: #da0000; text-decoration: none;  }
a:hover{ text-shadow: black 0.1em 0.1em 0.2em }
/*------------------ header ------------------*/
.header { background: url(../images/header_bg.png) repeat-x ; height: 120px; }
.header .wrapper { background: url(../images/header_w.png) no-repeat; height: 120px;  }
.header .top_menu { width: 300px;margin: 15px 15px 0 0; height: 45px; }
.top_menu ul li.menu_item { float: right;}
.top_menu ul li.menu_item a { display: block; height: 30px; width: 30px;}
/*  -icon-*/
.top_menu ul li.menu_item a.setting {background: url(../images/icon/tp_setting.png) bottom no-repeat;}
.top_menu ul li.menu_item a.logout {background: url(../images/icon/tp_logout.png) bottom no-repeat;}
.top_menu ul li.menu_item a.home {background: url(../images/icon/tp_home.png) bottom no-repeat;}
.top_menu ul li.menu_item a.file {background: url(../images/icon/tp_file.png) bottom no-repeat;}
.top_menu ul li.menu_item a.menu {background: url(../images/icon/tp_menu.png) bottom no-repeat;}
.top_menu ul li.menu_item a.operator {background: url(../images/icon/tp_operator.png) bottom no-repeat;}
.top_menu ul li.menu_item a.show {background: url(../images/icon/tp_show.png) bottom no-repeat;}
.top_menu ul li.menu_item a.hlp {background: url(../images/icon/tp_help.png) bottom no-repeat;}
.top_menu ul li.menu_item a.statistic {background: url(../images/icon/tp_statistic.png) bottom no-repeat;}
.top_menu ul li.menu_item a.comment {background: url(../images/icon/tp_comment.png) bottom no-repeat;}
/* \-icon-*/
.top_menu ul li.menu_item a:hover { background-position: top;}
.top_menu ul li.menu_item a .over {color: #FFFFFF;display: none;text-align: center;}
.top_menu ul li.menu_item a:hover .over {display: block;padding-top: 30px;}
.top_menu ul li.menu-item.splitter {color: #FFFFFF;	padding: 8px 4px 0;}
.header .welcome { width: 550px;margin: 30px 15px 0 0; height: 20px; line-height: 20px; color: white; }
.header .welcome a { color: #097bb4; }
.header .welcome a:hover {  }
/*------------------ menu ------------------*/
.menu { background: url(../images/menu_bg.png) repeat-x ; height: 138px; }
.menu .wrapper { background: url(../images/menu_w.png) repeat-x ;height: 138px;  overflow: hidden; }
#menu_sc {margin:0px auto; width:990px; }
/* Circular Content Carousel Style */
.ca-container{	position:relative;	margin:0px;	width:990px;	height:125px;}
.ca-wrapper{	width:100%;	height:100%;	position:relative;}
.ca-item{	position:relative;	float:right;	height:100%;}
.ca-nav span{	width:25px;	height:38px;	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;	top:50%;	margin-top:-19px;	left:-20px;	text-indent:-9000px;	opacity:0.7;	cursor:pointer;	z-index:100;}
.ca-nav span.ca-nav-next{	background-position:top right;	left:auto;	right:-25px;}
.ca-nav span:hover{	opacity:1.0;}
.mym { background: url(../images/mym_bg_over.png); margin:2px 6px 0 5px ; height: 123px; border-radius: 0px 0 20px 20px; width: 235px;}
.mymactive {background: url(../images/mym_bg.png);border: 1px dashed #1D1D1D; }
.mym .title { background: url(../images/mym_title_bg.png) repeat; width: 225px; height: 35px; margin: 5px ; float: right; border-radius: 5px; }
.mym .title p { padding: 7px 10px 0 0;font-family: BYekan;  font-size: 18px; color: white; width: 175px; float: right; overflow: hidden; height: 22px;}
.mym .title img { opacity:0.5;}
.mym .title:hover img { opacity:1;}
.mym .link { width: 105px; height: 70px; margin: 0 5px 0 0; line-height: 22px; }
.mym .link a span {color: white;padding: 0 15px 0 0;  font-family: BKoodakBold;  font-size: 12px;}
.mym .link a {background: url(../images/menu_link_arr.png) no-repeat right top; height: 12px;}
.mym .link a span:hover {color: #DE0000;  }
.mym .link a:hover {background: url(../images/menu_link_arr.png) no-repeat right  bottom ; }
.mym .link_sp { background: url(../images/link_sp.png) no-repeat ; width: 2px; height: 65px;}
/*------------------ center ------------------*/
.center { background: url(../images/center_bg.png) repeat-x ; min-height: 280px; }
.center .wrapper {  }
/* _BOX_  */
.r_box { width: 250px; margin: 10px 0 5px 0; }
.r_box .top {background: url(../images/r_box_top_bg.png) ; width: 250px; height: 35px;  }
.r_box .top .title{font-family: BYekan;  font-size: 18px; padding: 10px 40px 0 0; color: white; width: 170px;}
.r_box .top img {padding: 3px 0 0 0; opacity:0.6;}
.r_box .top:hover img { opacity:1;}
.r_box .mid {background: url(../images/r_box_mid_bg.png) ; width: 250px; min-height: 50px;  }
.r_box .dwn {background: url(../images/r_box_dwn_bg.png) ; width: 250px; height: 13px;  }
.r_box .mid .txt{ padding: 10px 7px 0px 7px; color: black;  line-height: 22px; text-align: justify;}
.r_box .mid .txt .r_menu {background: url(../images/right_menu.png) bottom ; width: 235px; height: 46px;margin: 2px 0 2px 0; float: right;}
.r_box .mid .txt .r_menu:hover, .r_box .mid .txt #act {background: url(../images/right_menu.png) top ;}
.r_box .mid .txt .r_menu span{ padding: 10px 25px 0 0; float: right;font-family: BKoodakBold;  font-size: 16px; color: #333333; width: 175px;}
.r_box .mid .txt .r_menu img {padding: 7px 0 0 0; opacity:0.4;}
.r_box .mid .txt .r_menu:hover span {color:  white;}
.r_box .mid .txt .r_menu:hover img { opacity:1;}

.highlights {border: 1px solid red;border-radius: 10px;}
.highlights .top {background: url(../images/highli_box_top_bg.png) ;  }
.highlights .mid {background: url(../images/highli_box_mid_bg.png) ; }
.highlights .dwn {background: url(../images/highli_box_dwn_bg.png) ;  }

.l_box { width: 760px; margin: 10px 0 5px 0; }
.l_box .top {background: url(../images/l_box_top_bg.png) ; width: 760px; height: 36px;  }
.l_box .top .title{font-family: BYekan;  font-size: 18px; padding: 10px 40px 0 0; color: white; width: 670px;}
.l_box .top img {padding: 3px 0 0 0; opacity:0.6;}
.l_box .top:hover img { opacity:1;}
.l_box .mid {background: url(../images/l_box_mid_bg.png) ; width: 760px; min-height: 50px; padding-bottom:1px; }
.l_box .dwn {background: url(../images/l_box_dwn_bg.png) ; width: 760px; height: 14px;  }
.l_box .mid .txt{ padding: 10px 7px 0px 7px; color: black;  line-height: 22px; text-align: justify;}
/*------------------ list ------------------*/
.list .top {background: url(../images/list_top_bg.png) no-repeat ; width: 736px; height: 38px;  }
.list .top span {padding: 9px 10px 0 0; color: white; float: right;font-family: BKoodakBold;  font-size: 16px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black}
.list .row_1 { background: white; border: 2px solid transparent; width: 725px; height: 34px;border-radius: 5px;margin:1px 5px 1px 5px; float: right;border-bottom: 2px solid #dddddd; }
.list .row_1 span {padding: 5px 10px 5px 0; color: black; float: right; border-left: 1px solid #dddddd;}
.list .row_0 { background: transparent; border: 2px solid transparent; width: 725px; height: 34px; border-radius: 5px; margin: 1px 5px 1px 5px;float: right;border-bottom: 2px solid #dddddd;}
.list .row_0 span {padding: 5px 10px 5px 0; color: black; float: right;border-left: 1px solid #dddddd;}
.list .row_0:hover , 
.list .row_1:hover{border:2px solid #cc0000}
.list .row_0  .last,
.list .row_1 .last{ border-left: 1px solid transparent;}
.list .row_0 span div ,
.list .row_1 span div{width: 32px; height: 32px; background-position:  top ; margin-top: -3px;}
.list .row_0:hover span div  ,
.list .row_1:hover span div {background-position: bottom;}
.list .row_1 span .indx ,
.list .row_0 span .indx{float: right; border: 0px solid #888; margin: -5px 0 0 0; opacity: 0.3;padding: 0 0 0 10px; width: 30px; max-height:35px;}
.list .row_1:hover span .indx ,
.list .row_0:hover span .indx { opacity: 1;}
/*------------------ FORM AND BTN ------------------*/
.del_btn { background: #cc0000; padding: 5px; color: white; border-radius: 5px; border: 1px solid transparent; }
.del_btn:hover { color: #cc0000;text-shadow: transparent 0.1em 0.1em 0.2em ; background: #CCCCCC; border: 1px dotted #cc0000; }
/*------------------ footer ------------------*/
.footer { background: url(../images/footer_bg.png) repeat-x ; height: 94px;}
.footer .wrapper { background: url(../images/footer_w.png) no-repeat left; height: 94px;   }
.footer .f_menu { width: 890px; height: 35px; padding: 2px; overflow:hidden;  }
.f_menu span { padding: 8px; background: #747373; margin: 5px 3px; float: right; border-radius: 5px;color: white; }
.f_menu span:hover, .f_menu #act{background: #202020;-moz-box-shadow: 0 0 3px 3px #888;-webkit-box-shadow: 0 0 3px 3px#888;box-shadow: 0 0 3px 3px #888;}
.footer .copyright{ padding: 10px 0 0 0; }
.footer .cp_img { background: url(../images/cp_img.png) top no-repeat; width: 195px; height: 19px;margin:10px }
.footer .cp_img:hover { background: url(../images/cp_img.png) bottom no-repeat;}

/*------------------------ OLD STYLE ------------------------*/
/*az inja ta akhar*/
.paging {
	font-size: 12px;
	margin:5px 5px 0 0;
}

.paging a {
	color: #333333;
}

.paging a:hover {
	color: #ff0000;
}

.paging span {
	padding: 5px;
	border-left: 1px solid #d7d7d7;
}

.actpagin {
	color: #ff0000;
	border-bottom: 1px solid #ff0000;
}
/* ------------------------------ FILE --------------------*/
.r_box #file_uploadUploader {margin:5px 58px 0 0;}
.l_box .file,.folder {
	float: left;
	width: 128px;
	margin: 5px 10px 0 8px;
	border: 1px dotted gray;
}

.l_box .folder .path {
	width: 128px;
	height: 128px;
	background: url(../images/file/folder.png) no-repeat top;
}

.l_box .folder .path:hover {
	background: url(../images/file/folder.png) no-repeat bottom;
}

.l_box .file .name,.folder .name {
	margin: 0px auto;
	text-align: center;
	width: 128px;
	overflow: hidden;
	height: 20px;
	background: gray;
	color: white;
	font-size: 11px;
}

.l_box .file .del,.folder .del {
	margin: 0px;
	text-align: right;
	width: 12px;
	overflow: hidden;
	height: 20px;
	float: right;
}

.l_box .file .del:hover,.folder .del:hover {
	font-weight: bold;
	font-size: 20px;
}

.l_box .file .fs {
	margin: 0px 0 0 5px;
	text-align: right;
	height: 20px;
	float: left;
}

.l_box .file .path {
	width: 128px;
	height: 100px;
	background: url(../images/file/file.png) no-repeat top;
}

.l_box .file .copy {
	width: 128px;
	height: 28px;
}

.l_box .file .input_copy {
	width: 128px;
	height: 28px;
	font-size: 9px;
	background: yellow;
	text-align: left;
	border: 0px
}

.l_box .file .name {
	font-size: 9px;
}

.l_box .path_nav {
	float: left;
	text-align: left;
	direction: ltr;
	font-size: 18px;
	margin: 10px;
	width: 710px;
	padding: 5px;
	border: 1px dashed gray;
}

